html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(/images/pexels-tima-miroshnichenko-7991436.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar-nav .nav-link {
    color: white;
    font-size: 150%;
    font-family: "Cambria Math", sans-serif;
}

.navbar-nav .nav-link:hover {
    color: grey;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url(/images/icons8-hamburger-button-50.png);
}

.navbar-toggler-icon:hover {
    filter: brightness(50%);
}

.navbar-brand-image:hover {
    filter: brightness(50%);
}

