html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(/images/pexels-tima-miroshnichenko-7991436.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


