.reviews-container {
    display: flex;
    margin: 20px;
    width: 100%;
    height: 240px;
}
.reviews-container .reviews-container-image {
    object-fit: contain;
    width: auto;
    height: auto;
    margin-right: 20px;
}
.reviews-container-text {
    flex: 1;
}

