.reviews-container {
    display: flex;
    margin: 20px;
    width: auto;
    height: 240px;
}

.reviews-container .reviews-container-image {
    object-fit: contain;
    width: auto;
    height: auto;
    margin-right: 20px;
}

.reviews-container-text {
    flex: 1;
}

@media screen and (max-width: 700px) {
    .reviews-container-text  {
        visibility: hidden;
    }
}

