@media screen and (min-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .wrapper .container {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .container-left {
        flex: 0 1 20%;
    }
    .center {
        width: auto;
        flex: 1;
    }
    .container-right {
        flex: 0 1 20%;
    }
}