{% extends 'lists.html' %}
{% block content %}
    <div class="addNew">
            <!--buttony z bootstrapu -->
        <a href = "{% url 'movie-create-form' %}" class="btn btn-secondary">Add new actor</a>
    </div>
    {% for actor in actors %}
    <div class="list-container">
        <a href="/actor/{{actor.id}}">
            <img class="list-container-image" alt="Image" src="{{actor.picture}}">  
        </a>
        <div class="list-container-text">
            <h3 class="list-container-name">{{actor.name}}</h3>
            <p class="list-container-description">{{actor.description}}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}