{% extends 'lists.html' %}
{% block content %}
    <div class="addNew">
            <!--buttony z bootstrapu -->
        <a href = "{% url 'movie-create-form' %}" class="btn btn-secondary">Add new movie</a>
    </div>
    {% for movie in movies %}
    <div class="list-container">
        <a href="/movie/{{movie.id}}">
            <img class="list-container-image" alt="Image" src="{{movie.picture}}">  
        </a>
        <div class="list-container-text">
            <h3 class="list-container-name">{{movie.title}}</h3>
            <p class="list-container-description">{{movie.description}}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
