<!--pouzite veci z bootstrapu-->
{% extends 'movie_movie_person_template.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/moviePeopleStyle.css' %}">
{% endblock %}

{% block content %}

<div class="person-and-person-description">
    <div class="card">
        <div class="person-description">
            <div class="person-image">
                <img src="{{list.person.picture}}" class="person-picture" alt="Image">
            </div>
            <div class="person-text">
                <h1 class="card-header">{{list.person.name}}</h1>
                <div class="card-body">
                    <p>{{list.person.description}}</p>
                    <p><strong>Birthday: </strong>{{list.person.birth_date}}</p>
                </div>
            </div>
        </div>
    </div>
    {% if list.movies_directed %}
        <div class="card movies-participated">
            <h4 class="card-header"><strong>Dirrected movies:</strong></h4>
            <div class="card-body person-movie-list">
                {% for movie in list.movies_directed %}
                <div class="person-movie">
                    <a href="{% url 'movie' movie.id %}">
                        <img src="{{movie.picture.url}}" class="movie-picture" alt="Image">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if list.movies_played_in %}
        <div class="card movies-participated">
            <h4 class="card-header"><strong>Acted in movies:</strong></h4>
            <div class="card-body person-movie-list">
                {% for movie in list.movies_played_in %}
                <div class="person-movie">
                    <a href="{% url 'movie' movie.id %}">
                        <img src="{{movie.picture.url}}" class="movie-picture" alt="Image">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}