{% extends 'movie_movie_person_template.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/movieStyle.css' %}">
{% endblock %}


{% block content %}

<div class="movie-and-movie-description">
    <img src="{{list.movie.picture}}" class="movie-picture" alt="Image">
    <div class="movie-description">
        <h1>{{list.movie.name}}</h1>
        <p>{{list.movie.description}}</p>
        <p><span class="bold-text">Genre: </span>{{list.movie.genre}}</p>
        <p><span class="bold-text">Release date: </span>{{list.movie.release_date}}</p>
        <p><span class="bold-text">Length: </span>{{list.movie.length}} minutes</p>
    </div>
</div>

<h3>Director: <a href="{% url 'movie_person' list.movie.director.id %}"><span class="movie-person-text-color">{{list.movie.director.name}}</span></a></h3>
<h3>Actors: 
    {% for actor in list.movie.actors.all %}
        <a href="{% url 'movie_person' actor.id %}"><span class="movie-person-text-color">{{actor.name}}{% if not forloop.last %}, {% endif %}</span></a>
    {% endfor %}
</h3>

<!--buttony z bootstrapu -->
<div class="add-new-review">
    <a href = "{% url 'review-create-form' pk=list.movie.id %}" class="btn btn-secondary mt-3">Add new review</a>
</div>

{% for review in list.reviews %}
<p>{{review.comment}}</p>
<div class="movie-">
    <div class="update-delete">
        <a href="{% url 'update-review-form' review.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete-review-form' review.id %}" class="btn btn-secondary">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}