{% extends 'movie_movie_person_template.html' %}

{% block content %}

<img src="{{list.movie.picture}}" alt="Image">
<h1>{{list.movie.name}}</h1>
<p>Director: {{list.movie.director.name}}</p>
{% for actor in list.movie.actors.all %}
<p>{{actor.name}}</p>
{% endfor %}



<!--buttony z bootstrapu -->
<div class="addNew">
    <a href = "{% url 'review-create-form' pk=list.movie.id %}" class="btn btn-secondary">Add new review</a>
</div>

{% for review in list.reviews %}
<p>{{review.comment}}</p>
<div class="list-container">
    <div class="update-delete">
        <a href="{% url 'update-review-form' review.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete-review-form' review.id %}" class="btn btn-secondary">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}