{% extends 'create_form.html' %}

{% block content %}

<form id="createForm" method="POST" action=".">
    {% csrf_token %}
    <!--bootstrap-->
    <div class="card mt-3 ms-5 me-5">
        <div class="card-header">
            <h3>Review</h3>
        </div>
        <div class="card-body">
            {% for error in form.non_field_errors %}
                <div class="text-danger">
                    {{error}}
                </div>
            {% endfor %}

            {% for field in form %}
            <div class="mb-3">
                {{field.label_tag}}
                {{field}}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <small>{{error}}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2 ms-5 me-1 mb-2">Submit</button>
    {% if movie %}
        <a href="{% url 'movie' pk=movie.id %}" class="btn btn-secondary mt-2 mb-2">Return</a>
    {% else %}
        <a href="{% url 'movie' pk=review.movie.id %}" class="btn btn-secondary mt-2 mb-2">Return</a>
    {% endif %}
</form>
{% endblock %}

{% block js %}
<script>
    document.getElementById("createForm").addEventListener("submit", function(event) {
        let isValid = true;
        document.querySelectorAll('.text-danger').forEach(errorDiv => errorDiv.remove());

        const form = event.target;
        const ratingField = form.elements["rating"];
        const commentField = form.elements["comment"];

        if (!ratingField.value.trim()) {
            const errorDiv = createErrorDiv("Rating is required");
            ratingField.parentElement.appendChild(errorDiv);
            isValid = false;
        } else if (!Number.isInteger(Number(ratingField.value)) || ratingField.value < 0 || ratingField.value > 100) {
            const errorDiv = createErrorDiv("The value must be between 0 and 100");
            ratingField.parentElement.appendChild(errorDiv);
            isValid = false;
        }

        if (!commentField.value.trim()) {
            const errorDiv = createErrorDiv("Comment cannot be empty");
            commentField.parentElement.appendChild(errorDiv);
            isValid = false;
        }
        
        if (!isValid) {
            event.preventDefault();
        }
    });

    function createErrorDiv(message) {
        const errorDiv = document.createElement("div");
        errorDiv.className = "text-danger";
        errorDiv.textContent = message;
        return errorDiv;
    }
        
</script>
{% endblock %}