html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .form-control {
    width: 70%;
    height: 8%;
}